* {
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .time-content p, .time-content li {
    font-size: 15px;
    text-align: left;
  }
}

.time-body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.time-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.time-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid #45b69c;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0px;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -13px;
}

@media (max-width: 991px) {
  .time-content {
    padding: 15px 5px 5px 5px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .time-content {
    padding: 20px 30px;
  }
}

.time-content {
  background-color: white;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 0.1rem 0.2rem white !important;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }
}

@media screen and (max-width: 600px) {
  .time-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 600px) {
  .time-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
}

@media screen and (max-width: 600px) {
  .left::after, .right::after {
    left: 18px;
  }
}

@media screen and (max-width: 600px) {
  .right {
    left: 0%;
  }
}

